{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container1">
    <Div class=" texts">
       
        <h1>Every visit is a taste of the exceptional. <span style="color: red;">Cheers to the journey! 🍷✨</span></h1>
        <p>Welcome to "In Vino Veritas  an online haven for the true connoisseurs of life's rich tapestry, where every page unfolds like the atmosphere of a classic bar, brimming with warmth, camaraderie, and the timeless wisdom that only a fine bottle of wine can impart.<p> Open Every <span style="color: yellow;">Mondays</span> to <span style="color: yellow;">Saturdays</span></p>

        <button id="btn"><a href="{% url 'store' %}" style="color: black;"> View Menu</a></button>

</div>
	

{% endblock content %}
